#root>div>div>div>main>div>div>div>div>div>div.active {
  box-shadow: 8px 8px 16px 0 rgba(230, 255, 3, 0.959), 0 6px 20px 0 rgba(230, 255, 3, 0.959);
}

/* .truncate {
  max-width: 450px;
  overflow: hidden;
  position: relative;
  max-height: 4.8em;
} */

/* .truncate::after {
  content: '...';
  background-color: white;
  position: absolute;
  padding-left: 5px;
  right: 0;
  bottom: 0;
}

.desc-text {
  padding: 5px;
}

.hidden {
  display: none;
} */